# How to import dataset in python using pandas library
Written by: Arslan\
Date: 16/03/2024\
Email: marslankhalid0347@gmail.com

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("pandas_01_day6.xlsx")

In [ ]:
df

# View dataframes in Python using pandas

In [6]:
df.head()

   height  weight favourite_dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao

In [7]:
df.tail()

    height  weight favourite_dish
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height          87 non-null     float64
 1   weight          87 non-null     int64
 2   favourite_dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB

In [10]:
df.shape

(87, 3)

In [11]:
df.index

RangeIndex(start=0, stop=87, step=1)

In [15]:
df.columns

Index(['height', 'weight', 'favourite_dish'], dtype='object')

In [ ]:
df.describe()

In [ ]:
df.T

In [ ]:
df.sort_index(ascending=False)

In [ ]:
print(df, type(str(df)))

In [ ]:
df.info()

In [34]:
df.sort_values(by="weight")

    height  weight favourite_dish
26     5.0      25        Biryani
35     5.0      31        Biryani
44     5.2      48        Biryani
42     5.6      49  Chicken Pulao
40     5.0      50  Chicken Pulao
..     ...     ...            ...
86     5.1      96        Biryani
0      5.8     101  Chicken Pulao
33     5.1     103    Chapel Kaba
34     6.0     110    Chapel Kaba
75     6.0     125    Chapel Kaba

[87 rows x 3 columns]